server {
    listen 80;
    listen [::]:80;

    #TODO change this
    server_name proj01.antarticuno.com;

    location / {
        proxy_pass http://localhost:4793;
    }

    location /socket {
        proxy_pass http://localhost:4793;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}

