<script>
  window.gameName = "<%= @name %>";
  window.playerName = "<%= @player_name %>";
</script>

 <div class="row">
  <div class="column">
    <h2>Battleship: <%= @name %></h2>
    <%= if @player_name do %>
      <h4>Playing as: <%= @player_name %></h4>
    <% else %>
      <h4>Observing...</h4>
    <% end %>
    <div id="root">
      React component loading...
    </div>
  </div>
</div>