/* This file is for your main application css. */

@import "~milligram/dist/milligram";

/* TODO: mobile styling */

button.disabled {
  pointer-events: none;
  background-color: #606c76;
  border-color: #606c76;
}

.inline {
  display: inline-block;
  margin-right: 20px;
}

.column.board-cell {
  text-align: center;
  border: 0.1rem solid #d1d1d1;
  height: 4.3rem;
  padding: .8rem 1rem .8rem;
}

.column.board-cell.label {
  padding-bottom: 0;
  height: auto;
}

.opponent-boards .board-cell {
  cursor: pointer;
}

.opponent-boards .board-cell.dead,
.opponent-boards .board-cell.hit,
.opponent-boards .board-cell.miss,
.opponent-boards .board-cell.label {
  cursor: default;
}

.board-cell.label {
  border:none;
  cursor: default;
  font-weight: 400;
}

.board-cell.caterpillar {
  background-color: #ddd;
}

.sting {
  margin-top: 20px;
}

.italicized {
  font-style: italic;
}

#sting-message {
  margin: 20px;
}
