/* This file is for your main application css. */

@import "~milligram/dist/milligram";

button.disabled {
  pointer-events: none;
  background-color: #606c76;
  border-color: #606c76;
}

.index-forms {
  max-width: 40%;
}

.inline {
  display: inline-block;
  padding-right: 20px;
}

.inline-1 {
  width: calc(50% + 10px);
}

.inline-2 {
  width: calc(50% - 10px);
  padding-right: 0;
}

.column.board-cell {
  text-align: center;
  border: 0.1rem solid #d1d1d1;
  height: 4.3rem;
  padding: .8rem 1rem .8rem;
}

.battleship-container {
  background: url('/images/board_bg.png');
}

.column.board-cell.label {
  padding-bottom: 0;
  height: auto;
}

.opponent-boards .board-cell {
  cursor: pointer;
}

.opponent-boards .board-cell.dead {
  background-image: url('/images/caterpillar_dead.png');
}

.opponent-boards .board-cell.hit {
  background-image: url('/images/caterpillar_hit.png');
}
.opponent-boards .board-cell.miss {
  background-image: url('/images/caterpillar_miss.png');
}
.opponent-boards .board-cell.label {
  cursor: default;
}

.board-cell.label {
  border:none;
  cursor: default;
  font-weight: 400;
}

.board-cell.caterpillar {
  background-image: url('/images/caterpillar.png');
}

.sting {
  margin-top: 20px;
}

.italicized {
  font-style: italic;
}

#sting-message {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  padding: .75rem 1.25rem;
  border-radius: .25rem;
  margin-bottom: 1rem;
}

#sting-message h6,
#sting-message h4 {
  margin-bottom: 0;
}

.error-message {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
  padding: .75rem 1.25rem;
  position: relative;
  border-radius: .25rem;
  margin-bottom: 1rem;
}
.error-message p {
  margin-bottom: 0;
}
.error-message button {
  margin-top: 1rem;
}
.error-message .close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
}

/* Mobile */
@media (max-width: 40rem) {
  .index-forms {
    max-width: 100%;
  }

  .column.board-cell {
    height: 2.8rem;
    padding: 0;
  }

  .battleship-container {
    padding: 0;
  }

  .battleship-row {
    flex-direction: row;
  }

  .col {
    margin-bottom: inherit;
    padding: 0 1.0rem;
  }

  .setup,
  .opponent-boards {
    margin-top: 30px;
  }
}

@media (min-width: 600px) {
  .board-cell {
    height: 100px;
    padding-top: 3.1rem;
  }
}

@media (min-width: 768px) {
  .board-cell {
    height: 125px;
    padding-top: 4.4rem;
  }
}
